<!DOCTYPE html>
<html lang="en" dir="ltr">


<body>
    <h1>Are you kidding me?</h1>

    <body>

        <body>
            <h1>Use the phone ffs. Loves you 💖</h1>

            <body>

                <div id="ytplayer"></div>

                <script>
                    // Load the IFrame Player API code asynchronously.
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/player_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                    // Replace the 'ytplayer' element with an <iframe> and
                    // YouTube player after the API code downloads.
                    var player;

                    function onYouTubePlayerAPIReady() {
                        player = new YT.Player('ytplayer', {
                            height: '360',
                            width: '640',
                            videoId: 'vYb87urhUYk'
                        });
                    }
                </script>

                <h3><a href="http://127.0.0.1:5000/">Return to Home</a></h3>

                <body>


</html>