<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>First Flask App</title>
</head>

<body>
    <h1>Hello Grainnoush! /ᐠ｡ꞈ｡ᐟ\</h1>
    <p>I know you are going to miss me when you move, so I built you a custom-made
        recommending service that returns random things Rammoush would say... </p>
    <p>against the backdground of cats, cuteness and neuroticism obviously 😻</p>
    <h3><a href="http://127.0.0.1:5000/kitty">Enter the void</a></h3>
</body>

<head>
    <h3><a href="http://127.0.0.1:5000/haha">NEW: Test my Rammoush bot!</a></h3>

    <head>

        <head>
            <h3>Check out the code at <a href="https://github.com/ramseywise/First-Flask-App">Github</a>.</h3>

            <head>

            <body>
                <img src={{ url_for('static', filename='media/kitty.jpg') }}>

        <body>

</html>