<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
    <header>
        <h1>Hello Grainnoush! /ᐠ｡ꞈ｡ᐟ\</h1>
        <p>I know you are going to miss me when you move, so I built you a custom-made...<p>
                <p> recommending service that returns random things Rammoush would say... </p>
                <p>against the backdground of cats, cuteness and neuroticism obviously 😻</p>
                <header>

                    <div class="container">
                        <nav class="menu">
                            <ul class="main">
                                <li class="projects"><a href="http://127.0.0.1:5000/haha">NEW: Test my Rammoush bot!</a>
                                </li>
                                <li class="archives"><a href="http://127.0.0.1:5000/kitty">Enter the void</a></li>
                                <li class="archives"><a href="https://github.com/ramseywise/First-Flask-App">Github</a>
                                </li>
                            </ul>
                    </div>

                    <img src={{ url_for('static', filename='media/kitty.jpg') }} width="600" , height="600">

                    <body>


                        <!-- <select><option>Menu</option><option value="/">Blog</option><option value="/blog/archives">Archives</option></select></nav>
                <div class="menu right">
                <form class="search right" action="http://google.com/search" method="get">
                    <input class="left" style="background-image:url({{ url_for('static', filename='img/search.png') }})"type="text" name="q" results="0">
                    <input type="hidden" name="q" value="site:carpedm20.com">
                </form> -->
                <!-- <form method="POST">
                        <input name="text">
                        <input type="submit">
                    </form> -->
                        <body>

</html>