<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>First Flask App</title>
</head>

<body>
    <h1>Hello Grainnoush!</h1>
    <p>I know you are going to miss me when your gone, so how better to use my time than to create a prediction service
        that returns random things ramsey would say? Against the backdground of cats and neuroticism obviously.</p>
</body>

<body>
    <h3>Try out my Rammoush bot!</h3>
    <p>Start a conversation below with me anytime.</p>
</body>

</html>